extends layout

block links
	link(rel='stylesheet', href='css/style-error.css')

block content

	#error
		h1 Page not found!
		h3 Sorry, there seems to be nothing here :(
		a(href='/') Return to the front page

block endscripts
	script(src='js/script-error.js')