extends layout

block links
	link(rel='stylesheet', href='css/style-index.css')

block content
	#pages
		
		//- MAIN PAGE
		#main.page
			.content.container
				#logo-row.row
					.col-xs-12 
						img(src='img/logo.png')
				#title-row.row
					.col-xs-12
						h1 
							|We 
							span.bld Build. 
							| We 
							span.bld Bond. 
							| We 
							span.bld Grow.
				#subtitle-row.row
					.col-xs-12
						h2 Team building seminars and sessions with LEGO
							sup ® 
							| Bricks and models
				#cta-row.row
					.col-xs-12
						a(href='/contact')
							button.cta-index.btn Get in Touch!
		
		#about.page
			.content.container
				#about-title.row
					.col-xs-12
						h1 Corporate Team Building 
						h3 For Teams, Companies, Leaders, Events and Venues 

				#about-row.row
					.col-md-4
						.row
							.col-xs-12
								img(src="img/legomap.jpg")
							.col-xs-12
								p 
									| Use the combined benefits of TEAM BUILDING and EXPERIENTIAL learning to transform your team
					.col-md-4
						.row
							.col-xs-12
								img(src="img/peoplepyramid.jpg")
							.col-xs-12
								p Experience a HAPPIER and MORE PRODUCTIVE team
					.col-md-4
						.row
							.col-xs-12
								img(src="img/legocube.jpg")
							.col-xs-12
								p IMPROVE team performance in a fun and original way

		//- #about-b.page
		//- 	#about-b-inner.container
		//- 		#about-b-title
		//- 			h1 What We're About
		//- 		#block-1.block-img
		//- 			img(src="img/blockimg-1.jpg")
		//- 		#block-2.block-txt
		//- 			p Bricks 4 Biz
		//- 				sup ® 
		//- 				| is an innovative company which utilizes LEGO
		//- 				sup ® 
		//- 				| to provide fun, interactive and productive team building experiences to businesses of all sizes 
		//- 		#block-3.block-img
		//- 			img(src="img/blockimg-2.jpg")
		//- 		#block-4.block-txt
		//- 			p Our dynamic, team oriented activities utilize LEGO
		//- 				sup ® 
		//- 				| Bricks to allow for participants to overcome obstacles and challenges
		//- 		#block-5.block-img.gear.gear-cw
		//- 			img(src="img/gear1.png")
		//- 		#block-6.block-txt
		//- 			p Team building is a vital, yet under emphasized component of every cohesive workplace unit. Contact us today to help strengthen your team!
		//- 		#block-7.block-img.gear.gear-ccw
		//- 			img(src="img/gear2.png")
		//- 		#block-8.block-txt
		//- 			p Our renowned team building programming is proven to improve communication, boost morale and develop trust and respect amongst your group - A powerful asset for any business to harness! 
		//- 		#block-9.block-img
		//- 			img(src="img/blockimg-3.jpg")

		#about-b2.page
			.content.container
				.row
					.col-xs-12
						img(src="img/legocube.jpg")

		#about-c.page 
			.content.container
					#about-c-title.row
						.col-xs-12
							h1 What we're about

					#about-c-row.row
						.col-md-4
							.row
								.col-xs-12
									img(src="img/blockimg-1.jpg")
								.col-xs-12
									p Bricks 4 Biz
										sup ® 
										| is an innovative company which utilizes LEGO
										sup ® 
										| to provide fun, interactive and productive team building experiences to businesses of all sizes 
						.col-md-4
							.row
								.col-xs-12
									img(src="img/blockimg-2.jpg")
								.col-xs-12
									p Our dynamic, team oriented activities utilize LEGO
										sup ® 
										| Bricks to allow for participants to overcome obstacles and challenges
						.col-md-4
							.row
								.col-xs-12
									img(src="img/blockimg-3.jpg")
								.col-xs-12
									p Our renowned team building programming is proven to improve communication, boost morale and develop trust and respect amongst your group - A powerful asset for any business to harness! 

		#testimonials.page
			.content.container 
				.row
					.col-xs-12
						h1 See What People Are Saying
				#testimonials-row.row
					.col-md-4
						.testimonial
							p.testimonial-content I hired Sharon to take our firm through her program as a team building experience for my staff. The experience was phenomenal. Not only was Sharon an expert at coordinating the session, the session itself was creative and engaging. 
							p.testimonial-name – Money Concepts 
					.col-md-4
						.testimonial
							p.testimonial-content I can't even put into words how much we enjoyed the team building session with you! 
							p.testimonial-name - Sandra C
					.col-md-4
						.testimonial
							p.testimonial-content I can’t express how great of an opportunity this was for us. It was extremely valuable in not only the content, but the team building experience and the chance to see the members of our group in person in a team atmosphere. 
							p.testimonial-name - Anonymous 

		#reach.page 
			.content.container
				.row
					.col-xs-12
						h1 Find Out More
				.row 
					.col-xs-12
						h3 Studies demonstrate that happy employees are 180% more energized 
						h3 and productive than their less content colleagues
				#cta-2-row.row
					.col-xs-12
						a(href='/contact')
							button.cta-index.btn Get in Touch!


block endscripts
	script(src='js/script-index.js')
