extends layout

block links
	link(rel='stylesheet', href='css/style-index.css')

block content
	#pages
		
		//- MAIN PAGE
		#main.page
			.content.container
				#logo-row.row
					.col-xs-12 
						img(src='img/logo.png')
				#title-row.row
					.col-xs-12
						h1 We Build. We Bond. We Grow
				#subtitle-row.row
					.col-xs-12
						h2 Team building seminars and sessions with LEGO® bricks and models
		
		#about-page
			#title
				h1 About
			#body-txt
				p Bricks 4 Biz specializes in team building seminars and sessions using innovative activities featuring LEGO® Bricks and models. 
				p This medium provides a non-threatening tool to elucidate better approaches to communication, teamwork, assessment of roles and responsibilities, peer to peer engagement and recognition.
			#body-img
				img(src="img/lego.jpg")
					



block endscripts
	script(src='js/script-index.js')
