extends layout

block links
	link(rel='stylesheet', href='css/style-legal.css')

block content
	#pages
		//- MAIN PAGE
		#legal-section.sec
			#legal-title
				h1 Privacy Policy & Terms of Service
			#legal-body
				p Because you are a valued Bricks 4 Kidz customer, we want to let you know about upcoming changes to our privacy policy. If you are located in the European Union, these changes will go into effect for you as of May 25, 2018.
				p We are making these changes to better explain our privacy practices to you and to reflect changes required by the European General Data Protection Regulation (GDPR). This includes more information about how we collect, use, and share any personal information you may give to us. We have reworded some content, and added details with the objective of making our practices easy for our customers to understand.
				p Notable updates include:
				ol
					li Greater Transparency: The new policy will provide more detailed explanations of what personal information we collect from you, how we collect it, what we do with it, and who we share your data with, including how we share information with advertisers and third parties.
					li More Control: We have new settings that will give you more choices about how you may share and control the information you give to us. The new policy will also outline specific steps you may take to ask us to stop or limit using the data we have about you.
				p This privacy policy sets out how “Bricks 4 Kidz” uses and protects any information that you give “Bricks 4 Kidz” when you use this website. “Bricks 4 Kidz” is committed to ensuring that your privacy is protected. Should we ask you to provide certain information by which you can be identified when using this website, and then you can be assured that it will only be used in accordance with this privacy statement. “Bricks 4 Kidz” may change this policy from time to time by updating this page. You should check this page from time to time to ensure that you are happy with any changes. This policy is effective starting May 25, 2018. We may collect the following information:
				ul
					li Name
					li Address
					li Phone
					li Email
					li Birthdate
					li Gender
					li Credit Card Information
				p What we do with the information we gather. We require this information to understand your needs and provide you with a better service, and in particular for the following reasons:
				ul
					li We will use your contact details (name, address and phone number) to identify you within our system, contact you and locate services that we provide that are close to your location.
					li We will use your email to communicate with you, to market offering and for your system login
					li Profile information is transferred to Credit Card processors as required by processors. Credit Card our site collects are transferred directly to Credit Card processors.  In addition, we use payment data and history in parents’ profiles.
					li Student information (Name, Enrollment History, Birthdate and Gender) will be used for class rosters and marketing to parents age appropriate curriculum and birthday event reminders.
				p We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information we collect online.
			#tracking-title
				h1 Tracking Information
			#tracking-body
				p Whether you submit information to the website, or are just browsing, we use Cookies just as most other business websites do. Cookies are small temporary files that are stored on an individual’s computer hard drive. They are used to retrieve information that was created by our systems to do things such as:
				ul
					li Save user preferences and settings
					li Customize the content for individual users
					li Track session information (for example, determining if you are logged in or have visited before)
					li Facilitate and enhance your interaction with the contents of the website.
				p We may also use methods such as Google Analytics to track usage of our websites so that we can continue to improve them.
				p You may choose to anonymize your personal information in the following ways:
				ul 
					li Call at 904-824-3133 (US)
					li Email request 
						a(href="mailto:info@creativelearningcorp.com") info@creativelearningcorp.com
				p We are available Monday through Friday between 9:00 AM and 5:00 PM ET.
				p We will not sell, distribute or lease your personal information to third parties unless we have your permission or are required by law. We may use your personal information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen. You may request details of personal information which we hold about you under the US Privacy Act of 1974, the Canadian Privacy Act of 1985 and the Data Protection Act 1998 or in accordance with the privacy laws in your respective country. A small fee may be payable. If you would like a copy of the information held on you please write to the corporate office located at 701 Market Street, Suite 113, St. Augustine Florida 32095. If you believe that any information we are holding on you is incorrect or incomplete, please write to or email us as soon as possible, at the above address. We will promptly correct any information found to be incorrect.


block endscripts
	script(src='js/script-legal.js')
