extends layout

block links
	link(rel='stylesheet', href='css/style-locations.css')
	link(rel='stylesheet', href='css/jqvmap.min.css')


block content
	#pages
		
		//- Locations Pop-up 
		#loc-modal.modal.fade
			.modal-dialog.modal-dialog-centered
				.modal-content

					//- header
					.modal-header
						.modal-title 
							h2 placeholder

					//- body
					.modal-body
						.single-contact
							h2 John Smith
							h3 CityName
							.modal-contact-info
								#phone
									img(src='img/ic_phone_black_24px.svg')
									a(href='tel:555-555-5555') 555-555-5555
								#email
									img(src='img/ic_email_black_24px.svg')
									a(href="mailto:example@gmail.com") example@gmail.com

		//- LOCATIONS PAGE
		#locations-page
			#page-header
				h1 Locations
				h2 Find a location near you

			#can-title
				h3 Canada
			#can-map.map

			#usa-title
				h3 USA
			#usa-map.map

		#international-locs-page
			#international-title.row
				.col-xs-12
					h3 International
			#international-locs.row
				each country in iCountries
					.col-xs-12.col-md-4
						p.country-name= country
					
			

block endscripts
	script(src='js/jquery.vmap.min.js')
	script(src='js/jquery.vmap.usa.js')
	script(src='js/jquery.vmap.canada.js')
	script(src='js/script-locations.js')
