extends layout

block links
	link(rel='stylesheet', href='css/style-works.css')

block content
	#pages
		//- MAIN PAGE
		#works-section.sec
			#works-title
				h1 How it Works
			#works-body
				p Whether your event is for 10 or 10,000, rest assured that we can take care of any concern. Through our simple process, we familiarize ourselves with you and your goals. Then, we choose our best suited personnel who will go above and beyond to ensure that your team building event proceeds worry-free. 
				ol
					li Get in touch with one of our friendly facilitators, who will help you select a program that fits your goals and budget properly.
					li Our facilitator will work with you to tailor your event. What city? Do you already have a venue? What's your company culture all about?
					li Your facilitator will organize all the event details between you, the venue and other staff who will be involved.
					li Event day – your facilitator and onsite staff deliver the program and engage your team. Achieve your goals, and debrief. You become a hero.
				p Bricks 4 Biz
					sup ® 
					| has the ability to inspire. To engage. To foster positive, authentic connections and build bonds that last long after your event is over. These are people who understand both the art and science of team building through LEGO
					sup ® 
					|  Bricks.
		#faq-section.sec
			#faq-title
				h1 FAQ
			#faq-body
				h3 How long are B4B events?
		
				p We value your time and provide powerful take-aways!
				p Our seminars can be as short as 90 minutes, or as long as half-day events. We guarantee you'll have a blast no matter what duration you decide for your company. 

				h3 What can we expect to gain from a B4B event?
		
				p Our flexible seminars are filled with fun and interactive activities that bring your people closer together with challenges that inspire greater team productivity (and a bucket load of laughter!). 
		
				h3 What makes Bricks 4 Biz
					sup ® 
					| events unique?
		
				p Every Bricks 4 Biz
					sup ® 
					| Event is built around activities that use LEGO
					sup ® 
					| – and the theme of building together, bonding together, and growing together is emphasized throughout each of our events.
				p Our trained facilitators provide all bricks and equipment for the event, and your group will use them as they "play" and collaborate together.  Most importantly, the smiles and challenges they enjoy will also provide simple and powerful insights that boost morale and communication skills.

		#button-section
			a(href='/contact')
				button.cta-index.btn Find Out More!


block endscripts
	script(src='js/script-works.js')
