extends layout

block links
	link(rel='stylesheet', href='css/style-works.css')

block content
	#pages
		//- MAIN PAGE
		#works-page
			#title
				h1 How it Works
			#body
				p Whether your event is for 10 or 1,200, we’ll take care of everything. Through our simple process we get to know you and your goals. Then, we choose our best people who will go above and beyond to ensure your team building activity goes off without a hitch.
				ol
					li Get in touch with one of our friendly facilitators, who will help you select a program that fits your goals and budget properly.
					li Our facilitator will work with you to tailor your event. What city? Do you already have a venue? What's your company culture all about?
					li Your facilitator will organize all the event details between you, the venue and other staff who will be involved.
					li Event day – your facilitator and onsite staff deliver the program and engage your team. Achieve your goals, and debrief. You become a hero.
				p Bricks 4 Biz have the ability to inspire. To engage. To foster positive, authentic connections and build bonds that last long after your event is over. These are people who understand both the art and science of team building through LEGO® Bricks.
			#faq-title
				h1 FAQ
			#faq
				#accordion.accordion
					.card
						#heading-1.card-header
							button.btn(type='button', data-toggle='collapse', data-target='#collapse-1')
								| What can we expect to see/gain from a B4B event?
						#collapse-1.collapse(data-parent='#accordion')
							.card-body
								p We value your time and provide powerful take-aways!
								p Our half day (3-3.5 hour) seminars are filled with fun and interactive activities that bring your people closer together with challenges that inspire greater team productivity (and a bucket load of laughter!).
						#heading-2.card-header
							button.btn(type='button', data-toggle='collapse', data-target='#collapse-2')
								p What makes Bricks 4 Biz events unique?
						#collapse-2.collapse(data-parent='#accordion')
							.card-body
								p Every Bricks 4 Biz Event is built around activities that use LEGO® – and the theme of building together, bonding together, and growing together is emphasized throughout each of our events.
								p Our trained facilitators provide all bricks and equipment for the event, and your group will use them as they “play” and collaborate together.  Most importantly, the smiles and challenges they enjoy will also provide simple and powerful insights that boost morale and communication skills.


block endscripts
	script(src='js/script-works.js')
