#pages{
	padding: 140px 70px 20px 70px;
}

#locations-page{
	display: grid;
	justify-items: center;
	align-items: start;
	grid-template-columns: repeat(1fr);
	grid-template-rows: 100px 50px 500px 50px 500px;
	grid-template-areas:
    "title"
    "usa-title"
    "usa"
    "canada-title"
    "canada";
  grid-gap: 20px;

}

p{
	font-size: 1.5rem;
}

#page-header{
	grid-area: title;
}

#page-header h2{
	font-size: 1.4rem;
	font-style: italic;
  	color: #555;
}

h3{
	color: #ef8a1d;
}

.map{
	width: 600px;
	height: 100%;
}

#usa-title{
	grid-area: usa-title;
}

#usa-map{
	margin-top: -70px;
	grid-area: usa;
}

#can-title{
	margin-top: -80px;
	grid-area: canada-title;
}

#can-map{
	margin-top: -80px;
	grid-area: canada;
}

@media screen and (max-width: 768px){
	#pages{
		padding: 140px 20px 20px 20px;
	}
	#locations-page{
		grid-template-rows: 100px 30px 300px 30px 300px;
	}
	.map{
		width: 300px;
		height: 100%;
	}
	h3{
	   	font-size: 1.4rem;
	}
}

#international-title{
	margin-bottom: 20px;
}

#international-title .col-xs-12{
	margin: auto;
}

#international-locs p:hover{
	cursor: pointer;
	color: #50c7e8;
}

/*** MODAL STYLES ***/
.modal-open{
	padding-right: 0px !important;
}

.modal-body{
	text-align: left;
	padding: 0px 25px;
}

.modal-body .single-contact{
	padding: 20px 0px;
}

.modal-body .single-contact:not(:last-child){
	border-bottom: 1px solid grey;
}

.modal-body .modal-contact-info{
	margin-top: 20px;
	display: grid
}

.modal-body h2{
	font-size: 1.6rem;
}

.modal-body h3{
	font-size: 1.2rem;
}

.modal-body a{
	margin-bottom: 0px;
	margin-left: 10px;
}