/**  Page **/
.page{
  text-align: center;
}

#main p{
  font-size: 1.1rem;
}

/** Main Page **/
#main{
  background-image: url('../img/carousel-1-edit.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 200px 150px 0px 150px;
}

#main h1{
  color: white;
  font-size:  2.3rem;
  margin-top: 20px;
}

#main h2{
  color: #efefef;
  font-size: 1.6rem;
}

#main .col-xs-12{
  margin: auto;
}

#main #logo-row img{
  width: 250px;
}

@media screen and (max-width: 768px){
  #main{
    padding: 200px 50px 0px 50px;
  }
}

/** About Page **/
#about-page p{
  font-size: 1.1rem;
}

#about-page{
  padding: 60px 60px 20px 60px;
  max-width: 1140px;
  margin: auto;
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 400px;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-areas: 
    "title title"
    "body-img body-txt";
}

#title{
  display: grid;
  justify-self: center;
  grid-area: title;
}

#body-txt{
  text-align: left;
  display: grid;
  grid-area: body-txt;
}

#body-img{
  text-align: left;
  display: grid;
  grid-area: body-img;
}

#body-img img{
  width: 100%;
  border-radius: 10px;
}

@media screen and (max-width: 768px){
  #about-page{
    padding: 60px 20px 20px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-template-areas: 
      "title"
      "body-txt"
      "body-img";
  }
}


