#pages{
	padding: 140px 120px 60px 120px;
}

#works-page{
  max-width: 800px;
  margin:  auto;
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 40px;
  grid-template-areas: 
    "works-title"
    "works-body"
    "faq-title"
    "faq-body";
}

#title{
  display: grid;
  grid-area: works-title;
}

#body{
  text-align: left;
  display: grid;
  grid-area: works-body;
}

#faq-title{
  display: grid;
  grid-area: faq-title;
}

#faq{
  text-align: left;
  display: grid;
  grid-area: faq-body;
}

#faq h3{
  margin-bottom: 20px;
  color: #ef8a1d;
}

#faq h3:not(:first-child){
  margin-top: 20px;
}

#body li{
  margin-top: 20px;
}

@media screen and (max-width: 768px){
  h3{
    font-size: 1.5rem;
  }

  #pages{
    padding: 140px 60px 20px 60px;
  }
}
