#pages{
	padding: 160px 120px 60px 120px;
}

@media screen and (max-width: 768px){
	#pages{
		padding: 160px 20px 20px 20px;
	}
}

#works-page{
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-row-gap: 50px;
  grid-template-areas: 
    "works-title"
    "works-body"
    "faq-title"
    "faq-body";
}

#title{
  display: grid;
  justify-self: center;
  grid-area: works-title;
}

#body{
  text-align: left;
  display: grid;
  grid-area: works-body;
}

#faq-title{
  justify-self: center;
  display: grid;
  grid-area: faq-title;
}

#faq{
  text-align: left;
  display: grid;
  grid-area: faq-body;
}

#body li{
  margin-top: 20px;
}