/**  Basic Page CSS **/
html{
  max-width: 100%;
  overflow-x: hidden;
}

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 10px;
  position: relative;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
  font-weight: 100;
  margin: 0;
  color: #454545;
}

p, li{
  font-family: 'helveticaneue-light', 'Open Sans', sans-serif;
  color: #666;
  font-size: 1rem;
}

li{
  font-size: 1rem;
}

h1{
  font-size: 2.3rem;
  color: #50c7e8;
}

ul{
  list-style-position: outside;
}

a{
  text-decoration: none;
  font-size:  1rem;
  color: #50c7e8;
}


a:hover{
  color: #50c7e8;
}

.btn:hover{
  cursor: pointer;
}

@media screen and (max-width: 768px){
  h1{
    font-size: 1.8rem;
  }
  h3{
    font-size: 0.9rem;
  }
}

/** Nav Stuff **/
#logo-img{
  width: 150px;
}


#locations-btn{
  padding: 7px 20px;
  transition: all .2s ease-out;
  border-radius: 5px;
  border: 1px solid #ef8a1d;
  background-color: white;
  color: #ef8a1d;
}

#locations-btn:hover{
  background-color: #ef8a1d;
  color: white;
}

.navbar{
  letter-spacing: -0.2px;
  transition: all .3s ease-out;
  padding: 0px 50px 0px 50px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

.navbar li:not(:last-child){
  margin-right: 20px;
}

.top-link.active-nav .nav-link,
.top-link .nav-link:hover{
  color: #50c7e8 !important;
}

.nav-link{
  font-size: 1.1rem;
}

.navbar.inbody{
  padding: 0px 30px;
  background-color: white;
}

.navbar-toggler{
  border-color: #666 !important;
}
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' \
    xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#666' \
    stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' \
    d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

@media screen and (max-width: 768px){
  .navbar{
    padding: 0px 20px;
    background-color: white;
  }
  .navbar-collapse{
    text-align: center;
    padding-bottom: 20px;
  }

  .navbar li{
    margin-right: 0;
  }
}

/** footer **/
.footer-container{
  background-color: #f8f8f8;
  max-width: 100%;
  font-size: 0.8rem;
  padding: 50px 70px;
  display: grid;
  justify-items: start;
  align-items: start;
  grid-template-columns: repeat(2, 1fr) repeat(2, 230px);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-template-areas:
    "logo logo company legal"
    "logo logo social blank";
}

#footer h4{
  font-family: Nunito;
  font-weight: bold;
  color: #2b2b2b;
  font-size: 1.3rem;
}

#footer .logo{
  grid-area: logo;
  align-self: center;
}

#footer .logo img{
  width: 250px;
  max-width: 100%;
}

#footer .logo p{
  margin-top: 10px;
}

#footer .social{
  text-align: left;
  grid-area: social;
}

#footer .social img{
  margin-top: 20px;
  height: 25px;
  margin-right: 25px;
}

#footer .company{
  text-align: left;
  display: grid;
  grid-area: company;
}

#footer .legal{
  text-align: left;
  display: grid;
  grid-area: legal;
}

#footer .footer-link{
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
  margin-top: 10px;
  font-size: 1rem;
}

#footer .footer-link:hover{
  text-decoration: none;
  color: #50c7e8;
}

@media screen and (max-width: 1000px) {
  .footer-container{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-row-gap: 20px;
    grid-template-areas: 
      "company"
      "legal"
      "social"
      "logo";
  }

  #footer .grid-section{
    padding-top: 30px;
  }

  #footer .logo{
    justify-self: center;
  }
}



